html,
body,
.wrap {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Tahoma', 'Arial', 'Verdana', sans-serif;
    font-size: 11px;
}
.clear {
    clear: both;
}
.left {
    margin-right: 840px;
    padding: 0 0 0 20px;
}
.right {
    padding-right: 20px;
    position: absolute;
    width: 800px;
    height: 100%;
    overflow-y: auto;
    right: 0;
    top: 0;
    z-index: 1;
}
.inner {
    padding-top: 44px;
}
@media screen and (max-width: 1400px) {
    .left {
        margin-right: 0;
        padding: 0 20px;
    }
    .right {
        width: auto;
        height: auto;
        padding: 0 20px;
        position: static;
        margin-top: 20px;
    }
    .right .inner {
        padding-top: 0;
    }
}

/**
 * Menu
 */
#menu {
    background: lightgray;
    float: left;
    width: 100%;
    position: absolute;
    top: 0;
    height: 24px;
    z-index: 2;
}
#menu ul {
    margin: 0;
    padding: 0;
}
#menu ul li {
    padding: 5px 15px;
    display: block;
    float: left;
    border-right: 1px solid #fff;
}
#menu a {
    color: #000;
}
#menu a:hover {
    text-decoration: none;
}
#menu .return {
    position: absolute;
    right: 0;
}

/**
 * Row css classes
 */
#orders-grid.grid-view table.items tr.selected,
#orders-grid.grid-view table.items tr:hover.selected {
    background: #000;
    color: #fff;
}
tr[data-state="accepted"] {
    background-color: #e667af !important;
    color: #000;
}
tr[data-state="denied"] {
    background-color: #ff4040 !important;
    color: #fff;
}
tr[data-state="adopted"] {
    background-color: #2b8e00 !important;
    color: #fff;
}
tr[data-state="expects_payment"] {
    background-color: #ff6200 !important;
    color: #fff;
}
tr[data-state="paid"] {
    background-color: #ff8940 !important;
    color: #000;
}
tr[data-state="shipped"] {
    background-color: #6e86d6 !important;
    color: #fff;
}
tr[data-state="delivered"] {
    background-color: #fff !important;
    color: #000;
}

/**
 * Table grid
 */
table.table {
    width: 100%;
}
table.table tr {
    cursor: default;
}
table.table tr.selected {
    background: #666 !important;
    color: #fff;
}
table.table tr.selected a {
    color: #fff;
}
table.table th,
table.table td {
    padding: 7px;
}
table.table-bordered {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
table.table-bordered th,
table.table-bordered td {
    border: 1px solid #ccc;
}

.well {
    background: #efefef;
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1) inset;
}

/**
 * Цвета заказов
 */
#orders-grid .order-state-10 {
    /* Новый */
    background: #c2c2c2;
}
#orders-grid .order-state-20 {
    /* Принят */
    background: #fff;
}
#orders-grid .order-state-30 {
    /* Отказ */
    background: #c6c6c4;
}
#orders-grid .order-state-40 {
    /* Ожидает оплаты */
    background: #ffbdd6;
}
#orders-grid .order-state-50 {
    /* Ожидает оплачен */
    background: #f0d6ff;
}
#orders-grid .order-state-60 {
    /* заказн у поставщика*/
    background: #d2f2c0;
}
#orders-grid .order-state-65 {
    /* заказн у поставщика (не всё количество)*/
    background: #b4acf9;
}
#orders-grid .order-state-70 {
    /* на складе */
    background: #c8f8f8;
}
#orders-grid .order-state-75 {
    /* На складе (не всё количество) */
    background: #b4acf7;
}
#orders-grid .order-state-80 {
    /* отгружен */
    background: #eff152;
}
#orders-grid .order-state-90 {
    /* Выдан (доставка) */
    background: #d2f2c0;
}
#orders-grid .order-state-95 {
    /* Выдан */
    background: #fcf5eb;
}
#orders-grid .order-state-100 {
    /* отменен пользователем */
    background: #dddddf;
}
#orders-grid .order-state-110 {
    /* куплен */
    background: #50f960;
}
#orders-grid .order-state-120 {
    /* В пути */
    background: #f0f14e;
}
#orders-grid .order-state-130 {
    /* Доставлен */
    background: #f9f7e8;
}

dl dt,
dl dd {
    line-height: 25px;
    border-bottom: 1px solid #ccc;
}
dl dt {
    width: 200px;
    float: left;
    font-weight: bold;
}
dl dd {
    min-height: 25px;
    margin-left: 200px;
    padding-left: 20px;
}
